:root {
  --my-color1: #cecae8;
  --my-color2: #483d8b;
  --my-color3: #9991cf;
}

html {
  font-size: 10px;
}
body {
  margin: 0;
  //font-family: "Teko", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  background: white;
  margin: 0;
 

}
#root {
height:500px;
width: 100%;
}
#doodle {
  position: fixed;
  z-index: -1;
  background: var(--my-color1);
   height:1000px;
  width:100%;
}
css-doodle {
  --rule1: (
      
      @grid: 2 / 200px;
      grid: 1px;
      background: @pick(red, pink);
    
  );
}